.toast-container {
position: absolute;
 
 z-index: 9999;
 display: flex;
 flex-direction: row;
 align-items: center;
 width: 550px;
 flex-grow: 1;
 padding: 20px;
 gap: 10px;
 border-radius: 10px;
 transition: all 0.3s ease-in-out;
}
.toast-message {
  font-size: 20px;
  font-weight: 500;
 color: white;
 text-align: left;
 font-family: 'Roboto', sans-serif;
}

